# ---- Unity generated ----
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/
/[Rr]ecordings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

# ---- Visual Studio / Rider ----
.vs/
.idea/
*.sln.iml

# ---- OS ----
.DS_Store
Thumbs.db
